.All-Todo
{
    background-color: white;
    margin: 15px 0px;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    color: black;
} 
.All-Todo i:hover
{
    cursor: pointer;
}
.E,.X
{
    background: linear-gradient(to right ,#ee0979,#ff6a00);
    border: none;
    padding: 5px;
    margin: 5px 0px 0px 0px;
    border-radius: 5px;
    color:white;
    margin-right: 5px;
}